/Old_Exams/PA1415_2016-01-98_SOLUTIONS.tex
VT2017.html
/Planning/phrasebook.tex
/Site/Sprint0-course-intro.html
/Lectures/08_Software_Architectures.tex
/Lectures/07_Design_to_Code.tex
*.nav
*.out
*.snm
*.toc
/Lectures/10-Documenting-Architetures.tex
/Lectures/01_Introduction.tex
/Material/202005-homeExam-example.tex
